.dashboard1 {
    display: flex;
    left: 9%;
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .main1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #15b87a1e;
    
  }
  
  .left1 {
    width: 40%;
    padding: 3vh;
   
  }
  
  .box {
    display: flex;
  
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5vh;
  }
  
  
  .right1 {
     width: 40%;
    padding: 3vh;
   
  }
  
  .box2{
    background-color: white;
    border-radius: 5vh;
  }
  
  .search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: #aaa;
  }
  
  .food-list-container {
    max-height: 200px; /* Define a altura máxima da lista */
    overflow-y: auto;  /* Adiciona rolagem vertical quando necessário */
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .food-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .food-item {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .food-item:hover {
    background-color: #f0f0f0;
  }
  
  .food-item.selected {
    background-color: #e0f7fa;
    border-color: #00acc1;
  }
  
  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bars {
    margin-bottom: 20px;
  }
  
  .progress-bar {
    margin-bottom: 10px;
  }
  
  .progress-bar span {
    display: block;
    margin-bottom: 5px;
  }
  
  .progress {
    position: relative;
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 20px;
    background-color: #76c7c0;
    text-align: right;
    line-height: 20px;
    color: #fff;
    padding-right: 5px;
    box-sizing: border-box;
  }
  
  .pizza-chart {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }
  
  .add-meal-button {
    padding: 10px 20px;
    background-color: #00acc1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .add-meal-button:hover {
    background-color: #008c9e;
  }