.container-dash {
  display: flex;
  background-color: #f4f4f4; /* Cor de fundo suave */
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
    
  .menu-recipes {
    position: absolute;
    top: 0;
    left: 8%;
    width: 100%;
    display: flex;
    justify-content: left;
    border: 0;
    z-index: 1000;
    margin-top: 1%;
  }
  
  .menu-recipes button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10vh;
    border: 0;
    cursor: pointer;
    margin: 0 10px;
    font-weight: bold;
     align-items: center;
    gap: 10px;
    display: flex;
  }
  
  .menu-recipes button.active {
    background-color: #35ad7f;
    color: #ffff;
  }
  
  .cards-section {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    margin-left: 10vh;



  }
  
  .card-style{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 5vh;
    height: 35vh;
    width: 25vh;
  }
  
  .card-image{
    margin: auto;
    height: 10vh;
    width: 10vh;
  }
  
  .title-recipe{
    font-weight: bold;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    margin-top: 0;
  }
  
  .kcal {
  color: #35ad7f;
  margin-top: 0;
  font-size: 2vh;
  }

  
  

.detalhes{
  display: flex;
  align-items: center;
  background-color: azure;
  justify-content: center;
  height: 97%;
  width: 50vh;
  margin-top: 2vh;
  border-radius: 5vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
 

}

.details-style{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 25vh;
}

.details-image{
  width: 25vh;
  height: 25vh;

}
.con{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}