/* Estilo Geral */
.container-dash {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Impede o scroll externo */
}

/* Header */
.hea {
  background-color: #35ad7f;
  width: 64%;
  height: 20%;
  margin-top: 2vh;
  margin-bottom: 6vh;
  left: 13vh;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  padding-left: 3vh;
  position: fixed;
  z-index: 1000; /* Mantém o header acima de outros elementos */
}

.titlereceita,
.subtitlereceita {
  color: white;
}

/* Menu de receitas */
.menu-recipes {
  position: fixed;
  top: 23%; /* Logo abaixo do header */
  left: 13vh;
  display: flex;
  gap: 10px;
  width: 64%;
  background-color: #f4f4f4;
  padding: 10px;
  z-index: 999;
}

.menu-recipes button {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10vh;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-recipes button.active {
  background-color: #35ad7f;
  color: white;
}

/* Cards */
.cards-section {
  position: fixed;
  top: 30%; /* Logo abaixo do menu */
  left: 12vh;
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  height: 60%;
  width: calc(100vw - 12vh);
  overflow-y: auto; /* Permite rolagem apenas dentro dos cards */
  padding: 10px;
  background-color: #f4f4f4;
}

.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5vh;
  height: 60vh;
  width: 25vh;
  text-align: center;
}

.card-image {
  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  object-fit: cover;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.title-recipe {
  font-weight: bold;
  font-size: 2vh;
  color: black;
  margin-top: 0;
}

.kcal {
  color: #35ad7f;
  font-size: 2vh;
  margin-top: 0;
}

/* Detalhes */
.detalhes {
  position: fixed;
  top: 0; /* Alinhado ao topo */
  right: 0; /* Encostado no lado direito */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  height: 97vh; /* Ocupa toda a altura da tela */
  width: 40vh; /* Largura fixa */
  border-radius: 0 0 0 5vh; /* Arredondamento apenas no canto inferior esquerdo */
  padding: 10px;
  overflow-y: auto; /* Permite rolagem interna */
}

.comopreparar {
  font-size: 4vh;
  color: black;
  font-weight: bold;
}

.details-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 25vh;
}

.details-image {
  width: 25vh;
  margin-top: 20vh;
  height: 25vh;
  border-radius: 20vh;
  object-fit: cover;
}
