.container-dash {
  display: flex;
  background-color: rgb(210, 205, 214);
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
    
  .menu-recipes {
    position: absolute;
    top: 0;
    left: 8%;
    width: 100%;
    display: flex;
    justify-content: left;
    border: 0;
    z-index: 1000;
    margin-top: 1%;
  }
  
  .menu-recipes button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10vh;
    border: 0;
    cursor: pointer;
    margin: 0 10px;
    font-weight: bold;
     align-items: center;
    gap: 10px;
    display: flex;
  }
  
  .menu-recipes button.active {
    background-color: #35ad7f;
    color: #ffff;
  }
  
  .cards-section {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;



  }
  
  .card-style{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 5vh;
    height: 40vh;
    width: 32vh;
  }
  
  .card-image{
    height: 10vh;
    width: 10vh;
  }
  
  .title-recipe{
    font-weight: bold;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    margin-top: 0;
  }
  
  .kcal {
  color: #35ad7f;
  margin-top: 0;
  font-size: 3vh;
  }
  

.detalhes{
  display: flex;
  align-items: center;
  background-color: azure;
  justify-content: center;

}

.con{
  display: flex;
  margin-top: 10vh;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}