.container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.side {
  height: 100%;
  width: 5%;
}

.main {
  background-color: rgba(184, 196, 181, 0.322);
  height: 100%;
  width: 95%;
}

.nave {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: right;
}

.user {
  margin-right: 5vh;
  margin-top: 1vh;
}