.container {
  display: flex;
  flex: 2;
  width: 100%;
  top: 0;
  flex-direction: row;
  height: 99.3vh;
  position: absolute;

}

.main {
  display: flex;
  right: 0;
  width: 60%;
  flex-direction: row;
  background-color: #7DCD9A;
height: 100%;
 
}

.welcome {
  width: 90%;
  height: 20%;
  background-color: #19af76;
  border-radius: 10px;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.welcome-section p {
  font-size: 4vh;
  font-weight: bold;
  color: white;
}


.left {
  width: 10%;
}


.right {
  width: 5%;
  right: 0;
}