.help-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 45px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  h2 {
    font-size: 1.5em;
    color: #444;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 15px 0;
  }
  
  li p {
    margin: 5px 0;
  }
  
  p {
    color: #555;
    font-size: 1em;
  }
  