.date-container {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: 2.5vh;
   }
   
   .text-section {
       font-size: 2vh;
       font-weight: bold;
       color: white;
       margin-left: 1vh;
   }