.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
    background-color: transparent;
    z-index: 2;
    position: relative;
    
}

.navbar-brand {
    margin-left: 7.5vh;
}

.navbar-buttons {
    margin-right: 2vh;
    display: flex;
    justify-content: space-between;
    width: 12%;
    gap: 20 px;
   
}

